<!DOCTYPE html>
<link rel="stylesheet" href="/static/style.css" type="text/css">

<html lang="en">

   
<body>

   <h1> <p style="text-align:center"> DASHBOARD </p> </h1>
        <form action="/medical_button/" method="GET">
            <input type="submit" value="MEDICAL REPORT ">
        </form>
        <form action="/past_report_button/" method="GET">
            <input type="submit" value="PAST REPORT ">
        </form>
        <form action="/generate_report/" method="GET">
            <input type="submit" value="GENERATE REPORT ">
        </form>

        <a href='/logout'>Logout</a>
</body>
</html>