<!doctype html>
<link rel="stylesheet" href="/static/style.css" type="text/css">




<h2>PAST DETAILS</h2>
<form action="" method="POST">
    <input type="text" name="blood_pressure" placeholder="BLOOD PRESSURE"></br>
    <input type="text" name="insuline" placeholder="INSULINE"></br>
    <input type="text" name="bmi" placeholder="BMI"></br>
    <input type="text" name="dpf" placeholder="DPF"></br>
    <input type="text" name="age" placeholder="AGE"></br>
   
</form>
<h2> back to dashboard</h2>
<form action="/back_to_dashboard/" method="GET">
    <input type="submit" value="Back to dashboard">
</form>